# System
.DS_Store
Thumbs.db

# Defold
/.internal
/build
/bundle
log.txt

# VSCode
/.vscode/settings.json

# Operator
/operator

# Kinematic Walker
/walker

# TrenchBroom
**/autosave/*.map

# Generated Map
example/maps/**/buffer
example/maps/**/collisionobject
example/maps/**/convexshape
example/maps/**/mesh
example/maps/**/script
example/maps/**/*.collection