# System
.DS_Store
Thumbs.db

# Defold
/.internal
/build
/bundle
log.txt

# VSCode
/.vscode/settings.json

# Operator
/operator

# Kinematic Walker
/walker

# TrenchBroom
**/autosave/*.map

# Generated Map
assets/maps/**/buffer
assets/maps/**/collisionobject
assets/maps/**/convexshape
assets/maps/**/mesh
assets/maps/**/script
assets/maps/**/*.collection